.menuButton {
    background-color: #fff;
    border: none;
    display: none;
    cursor: pointer;
    @include hamburger__breakP {
      display: block;
      height: 50px;
      width: 50px;
      position: fixed;
      top: 0;
      right: 0;
      // transition: .3s;
      z-index: 1200;
      div {
          height: 2px;
          width: 50%;
          background-color: rgb(36, 152, 179);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: .2s;
      }
    }
}
.menuButton {
  div:nth-of-type(1) {
      transform: translate(-50%, -10px);
  }

  div:nth-of-type(3) {
      transform: translate(-50%, 9px);
  }
}
.menuButton.active {
  background-color: rgb(36, 152, 179);
  transform: rotate(90deg);

  div:nth-of-type(1) {
      background-color: #fff;
      transform: rotate(45deg) translate(-50%, 0);
      transform-origin: 0% 50%;
  }

  div:nth-of-type(2) {
      opacity: 0;
      transition: opacity .2s;
  }

  div:nth-of-type(3) {
      background-color: #fff;
      transform: rotate(-45deg) translate(-50%, 0);
      transform-origin: 0% 50%;
  }
}